
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="#" class="logo logo-dark">
            <span class="logo-sm">
                <img src="Content/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="Content/assets/images/logo-dark.png" alt="" height="25">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="#" class="logo logo-light">
            <span class="logo-sm">
                <img src="Content/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="Content/assets/images/logo-light.png" alt="" height="17">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse"
                       role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Dashboards</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarDashboards">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="~/Dashboard" class="nav-link" data-key="t-analytics">
                                    Sales
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Dashboard" class="nav-link">
                                    Production
                                    <span data-key="t-blog"></span> <span class="badge bg-success" data-key="t-new">New</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarApps" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarApps">
                        <i class="ri-pages-line"></i> <span data-key="t-apps">Reports</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarApps">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#salesReport" class="nav-link" data-bs-toggle="collapse"
                                   role="button" aria-expanded="false" aria-controls="salesReport"
                                   data-key="t-calender">
                                    Sales
                                </a>
                                <div class="collapse menu-dropdown" id="salesReport">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"
                                               data-key="t-main-calender"> National SKU KPI </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"
                                               data-key="t-month-grid"> Own DB SKU KPI </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a href="#productionReport" class="nav-link" data-bs-toggle="collapse"
                                   role="button" aria-expanded="false" aria-controls="productionReport"
                                   data-key="t-calender">
                                    Production
                                </a>
                                <div class="collapse menu-dropdown" id="productionReport">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="apps-calendar.html" class="nav-link"
                                               data-key="t-main-calender"> Plant Capacity </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="apps-calendar-month-grid.html" class="nav-link"
                                               data-key="t-month-grid"> Energy Costing </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->